doctype html
html
  head
    title Nexus Query - #{title}
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css')
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js')
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js')
  body
    nav(uk-navbar).uk-navbar-container
      .uk-navbar-left
        ul.uk-navbar-nav
          each art in artifacts
            li(class= `${art.groupId}.${art.artifactId}.${art.extension}` === current ? "uk-active" : "")
              a(href=`/artifact/${art.groupId}.${art.artifactId}.${art.extension}`) #{art.name}
      .uk-navbar-right
        ul.uk-navbar-nav
          li
            a(href="/config") Configuration
    block content
